body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.history {
    font-size: 25px;
    color: #757575;
    height: 50px;
    margin-top: 11px;
    margin-right: 20px;
}

.calculator {
    width: 500px;
    background: #000000; 
    padding: 40px;
    border-radius: 30px;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 21px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(190, 190, 190);
    border-radius: 15px;
}

.input {
    font-size: 65px;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-right: 20px;
}

.input::placeholder {
    color: white;
}

button.button-grey, button.operator, button.number {
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

#button-zero {
    grid-column-start: span 2;
}

#button-zero {
    border: none;
    border-radius: 50px;
    width: 225px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.button-grey {
    background-color: rgb(190, 190, 190);
}

.number, #button-zero {
    color: white;
    background-color: rgb(82, 82, 82);
}

/* had .equal */
.operator {
    background-color: orange;
    color: white;
}

.button-grey:active {
    background-color: rgb(235, 235, 235);
    transform: translateY(4px);
}

.number:active, #button-zero:active {
    background-color: rgb(134, 134, 134);
    transform: translateY(4px);
}

.operator:active {
    background-color: rgb(255, 194, 80);
    transform: translateY(4px);
}